java_xml/lab3/task1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="contact">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="surname" type="xs:string"/>
      <xs:element name="home_address">
		<xs:complexType>
		  <xs:sequence>
		  	<xs:element name="city" type="xs:string"/>
		  	<xs:element name="street" type="xs:string"/>
		  </xs:sequence>
		</xs:complexType>  	
	  </xs:element>
      <xs:element name="phone" type="xs:string"/>
      <xs:element name="mobile" type="xs:string"/>
      <xs:element name="job" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>